<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="timer.tenSecondInterval" value="09:15;3;day;Every 3rd day;Text for every 3rd day reminder"/>
    <add key="timer.twentySecondInterval" value="10:45;60;min;Every 60 min;Text for every 60 min reminder"/>
    <add key="timer.thirtySecondInterval" value="13:33;40000;sec;Every 40000 sec;Text for 40000 sec reminder"/>
  </appSettings>
</configuration>